[submodule "external/secp256k1"]
	path = external/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "external/wjcryptlib"]
	path = external/wjcryptlib
	url = https://github.com/WaterJuice/WjCryptLib.git
[submodule "external/sha3"]
	path = external/sha3
	url = https://github.com/pablotron/sha3.git
[submodule "external/libtomcrypt"]
	path = external/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "external/libtommath"]
	path = external/libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "external/c20p1305"]
	path = external/c20p1305
	url = https://github.com/wg/c20p1305.git
[submodule "external/libeddsa"]
	path = external/libeddsa
	url = https://github.com/phlay/libeddsa.git
[submodule "external/noise-c"]
	path = external/noise-c
	url = https://github.com/uink45/noise-c.git
[submodule "external/picoquic"]
	path = external/picoquic
	url = https://github.com/Pier-Two/picoquic.git
